* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	font-family: "Raleway", sans-serif;
}

/*          NAV        */
.nav {
	/* POZBYCIE SIĘ PRZERW MIĘDZY ELEMENTAMI */
	font-size: 0;
	height: 50px;
	background-color: #333;
	text-align: center;
	line-height: 50px;
}

.nav-item {
	display: inline-block;
}

.nav-item a {
	/* PONOWNE USTAWIENIE WIELKOŚCI */
	font-size: 16px;
	color: peachpuff;
	padding: 0 50px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	transition: color 0.3s;
}

.nav-item a:hover {
	color: rgb(3, 69, 235);
}

/*           HEADER            */
.header-img {
	position: relative;
	height: 150px;
	background-image: url("../img/bg_cosmos.jpg");
	background-size: cover;
	background-position: 0 65%;
}

.header-text {
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: peachpuff;
}

.header-text h1 {
	margin-bottom: 10px;
	font-size: 36px;
	text-align: center;
	font-weight: bold;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.header-text p {
	font-size: 16px;
	text-align: center;
	font-weight: 200;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.header-bg {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(40, 40, 40, 0.3);
}

/*           MAIN            */

main {
	margin: 50px auto;
	width: 1200px;
}

main h2 {
	margin-bottom: 30px;
	text-transform: uppercase;
	text-align: center;
}

.about-us-box {
	margin: 40px 0;
	position: relative;
	height: 300px;
	background-attachment: fixed;
	background-position: center;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	overflow: hidden;
}

.top {
	background-image: url(../img/coffee-2306471_1920.jpg);
}

.middle {
	background-image: url(../img/iphone-2390121_1920.jpg);
}

.bottom {
	background-image: url(../img/office-620822_1920.jpg);
}

.about-us-text {
	position: absolute;
	bottom: 20px;
	padding: 20px 40px;
	text-align: center;
	color: #fff;
}

.about-us-text h3 {
	margin-bottom: 10px;
	text-transform: uppercase;
}

.about-us-bg {
	position: absolute;
	bottom: 0;
	height: 45%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}

/*           FOOTER            */
footer {
	height: 80px;
	line-height: 80px;
	background-color: #333;
	color: #ddd;
	text-align: center;
	font-size: 20px;
}

.icon-box {
	margin-left: 20px;
}

.icon-box a {
	margin: 0 5px;
	font-size: 30px;
	color: #ddd;
	transition: color 0.3s;
}

.icon-box a:hover {
	color: rgb(3, 69, 235);
}

/* 			SUBPAGE			 */

main ul {
	margin-bottom: 30px;
	text-transform: uppercase;
	/* text-align: center; */
	display: grid;
	justify-content: center;
	list-style: decimal-leading-zero;
	list-style-position: inside;
}

main ul li {
	margin: 8px 0px;
}

.contact-box {
	margin: 25px 0;
	line-height: 40px;
	text-align: center;
	font-size: 26px;
	text-align: center;
	letter-spacing: 1px;
}

.contact-icon {
	margin-right: 10px;
	line-height: 40px;
	color: #333;
}

.square-container {
	position: relative;
	margin: 50px 0px 80px 120px;
	width: 1200px;
	height: 200px;
	cursor: pointer;
}

.square-text {
	position: absolute;
	margin-left: 250px;
	width: 600px;
}

.square-text h3 {
	margin-bottom: 10px;
	margin-top: 5px;
	font-size: 20px;
}

.square-internal {
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 25px;
	transition: 0.3s;
	border: 4px solid #4c4177;
}

.square-internal p {
	position: absolute;
	top: 25%;
	left: 65%;
	transform: translate(-50%, -50%);
	color: black;
	font-size: 26px;
	font-weight: bold;
}

.square-external {
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 25px;
	background-color: #4c4177;
	background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
	transition: rotate 0.3s;
	transform-origin: 10% 10%;
}

.square-external p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ddd;
	font-size: 20px;
	letter-spacing: 2px;
}

.square-external:hover {
	rotate: 60deg;
}
